a
	color $azul
	text-decoration none
	transitionBase()
	
	&:hover
		text-decoration underline
		
	img
		border 0
	
body
	color $gris
	font-family $font-stack
	font-size  1.4rem
	font-weight $normal
	

h1, h2, h3
	color $gris
	font-weight $bold
	letter-spacing 2px
	text-transform uppercase
	

label
	font-weight $light
	margin 0
	

p
	font-weight $light	

strong
	font-family $font-stack
	font-weight $bold