.btn
	border none
	display block
	margin 0 auto
	transitionBase()
	
	&:active,
	&:hover
		outline 0 !important
		outline none !important
		text-decoration none
		

	&-default
		background-color $azul
		color white
		padding 0.2rem 2rem
		text-align center
		text-transform uppercase
		
		&:hover
			color white
	
	&-legales
		border 1px solid white
		padding 1rem
		text-align center
		
		&:hover
			background-color lighten($azul, 40%)
			color white
			text-decoration none