section.container
	&-altamira
		path('bg/altamira.jpg')
	&-cali
		path('bg/cali.jpg')
	&-cartagena
		path('bg/cartagena.jpg')
	&-fontana
		path('bg/fontana.jpg')
	&-manzanillo
		path('bg/manzanillo.jpg')
	&-oceania
		path('bg/oceania.jpg')
	&-paipa
		path('bg/paipa.jpg')
	&-villao
		path('bg/villao.jpg')
	

	&-fluid
		clearfix()
		background-attachment fixed
		background-position 50% 50%
		background-repeat no-repeat
		background-size cover
		color white
		margin 0
		padding 2rem 0
