header
	background-color $azul
	color white
	height 100vh
	margin 0
	margin 0 auto
	padding 0 0.5rem 40rem
	position relative
	z-index 31
	
	&::before
		background-attachment fixed
		background-position 50% 50%
		background-repeat no-repeat
		background-size cover
		content ''
		display block
		height 100%
		left 0
		opacity 0
		path('bg/bg-header-mobile.jpg')
		position absolute
		top 0
		transitionBase()
		width 100% 
		
	&.ready
		&::before
			opacity 0.99

	.logo
		margin 0
		max-width 22rem

		svg
			cuadrado(100%)
			display block
			margin 0
			

	.menu-lista
		background-color $azul
		border-radius 10px 10px 0px 0px
		bottom 0
		box-shadow 0px -5px 5px 0px rgba(0,0,0,0.3)
		left 0
		position absolute
		text-align center
		width 100%
		
		p
			margin-top 1rem
		
		.lista
			background-color $azul
			bottom 0
			box-shadow 0px 0px 5px 0px rgba(0,0,0,0.3)
			left 50%
			list-style-type none
			max-height 0
			overflow hidden
			padding 0
			position absolute
			transform translateX(-@left)
			transitionBase()
			width 100%
			

			&.active
				max-height 40rem
			
			li
				display block
				padding 0
				vertical-align middle
				width 100%
				
				a
					color white
					display block
					font-size 1.2rem
					line-height 1
					padding 1rem 2rem
					text-decoration none
					

				&:hover
					a
						background-color lighten($azul, 40%)
						

				&.close
					a
						fa(angle-down)
					
		
		.selector
			&-toggle
				cursor pointer
				
				span
					padding 0 0.5rem

				.arrow-down
					fa(angle-up)
		

	.scroll
		bottom 2rem
		color white
		cursor pointer
		left 2rem
		position absolute
		text-align center
		text-decoration none
		text-shadow 0px 0px 5px rgba(0,0,0,0.5)
		// transform translateX(-50%)
		transitionBase()
		
		
		.icon
			cuadrado(5rem)
			display block
			margin 0 auto

			svg
				cuadrado(100%)


	.text
		&-center
			margin 0
			
		&-dcto
			margin-top 2rem
			text-align center
			text-transform uppercase
			
			.mini,
			.valor
				display inline-block
				vertical-align top
			
			.mini
				margin 0
				max-width 22%
				text-align right

			.valor
				font-size 5rem
				font-weight $bold
				line-height 1.1
				margin 0
				
				
				small
					display block
					font-size 26%
					margin-top 1rem

				span
					display block
					line-height 0.8

		&-intro
			border-bottom 1px solid white
			border-top @border-bottom
			padding 0.5rem 2rem
			
		&-title
			background-color transparent
			font-size 2rem
			font-weight $light
			text-transform uppercase
			line-height 1.1
			margin-top 5rem
			padding 1rem
			
			&::before
				content none
				
			strong
				display block
			
