//Footer

footer.container-fluid
	div.row
			a.btn.btn-legales(href="#") Ver términos y condiciones


///-Footer

//Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
if !production
	script(src='assets/js/libs/jquery.js')
	//-Este arreglo imprime todos los js que se declaren en frontend.json -> libs{}
	-for(x =0; x < libs.length; x++)
		script(src=libs[x])
	script(src="assets/js/vacaciones-estelar.init.js")


else
	script(src='assets/js/libs/jquery.js')
	script(src='assets/js/libs.min.js')
	script(src="assets/js/vacaciones-estelar.init.js")