//Header
header.container-fluid
	div.row
		div.col-logo
			//Logo
			h2.logo
				include ../includes/logo-e.svg
			///-Logo

		div.clearfix
		
		div.col-text
			//Texto intro
			h1.text-center.text-title.
				haz que las
				<strong>vacaciones pasen</strong>

			p.text-intro.text-center Viaja a un destino cercano
			div.text-dcto
				p.mini Hasta por un

				p.valor
					span 50%
					small de descuento

			///-Texto intro
	

	a.scroll(href="#cc-cartagena", onclick="dataLayer.push({'boton': 'Ir abajo', 'event': 'Haz_que_las_vacaciones_pasen'});")

		i.icon.icon-scroll
			include ../includes/scroll.svg

		span Ir abajo




///-Header