//Nib & gradient support
@require 'nib'
//Esto hace que exporte los estilos css3 con soporte para todos los navegadores
vendor-prefixes = o ms webkit moz official

//Variables y funciones, se deben declarar primero que el resto de archivos para poderlos utilizar
@import "modules/variables"
@import "modules/funciones"


@import "modules/typographic"
$min-font          = 10px
$max-font          = 14px
$line-height-ratio = 1.2
$min-width         = 320px
$max-width         = 1100px
typographic()


//Bootstrap v 3.3.7
@import 'bootstrap.config'

//Font Awesome v 4.7.1
@import 'font-awesome-stylus'

//ruta de las fuentes de font Awesome
$fa-font-path = "../fonts"

// @stylint on
//Layout
@import "modules/base"
@import "modules/layout"
@import "modules/header"
@import "modules/footer"
@import "modules/containers"
@import "modules/columns"

//components
@import "modules/buttons"
@import "modules/components"
@import "modules/modal"
@import "modules/navigator"
@import "modules/slider"


@import "modules/utilities"
// @import "modules/animations"
// @import "modules/keyframes"
@import "modules/media-queries"
