//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Haz que las vacaciones pasen | Hoteles Estelar

//-Etiqueta Metadescription
block description
	meta(name="description", content="Haz que las vacaciones pasen | Hoteles Estelar" )


block content

	//hotel
	section#cc-cartagena.container-fluid.container-cartagena
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title.
					ESTELAR Cartagena de Indias Hotel &amp; Centro de Convenciones
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					-for(i=0;i < 8; i++)
						//Promo
						div.item
							div.item-container
								figure.item-img
									//- +image('promos/pareja.jpg', 'Plan Pareja')
									img(src='assets/images/promos/pareja-big.jpg', srcset="assets/images/promos/pareja-big.jpg 1000w, assets/images/promos/pareja-thumb.jpg 770w", sizes="(min-width:770px) 100%, 100% ", alt="Plan pareja", title="plan pareja" )

								div.item-text
									div.promo-container
										p.promo-desc
											span.promo-tipo familia
											span.promo-cant 50%

										p.promo-condicion.
												3<sup>ra</sup> noche.

								div.clearfix

								a.btn.btn-default(href="#") Ver más
						///-Promo
			///-Promos Hotel
		
	///-hotel
	

	//hotel
	section#inter-cali.container-fluid.container-cali
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title Intercontinental Cali
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					-for(i=0;i < 8; i++)
						//Promo
						div.item
							div.item-container
								figure.item-img
									img(src='assets/images/promos/pareja-big.jpg', srcset="assets/images/promos/pareja-big.jpg 1000w, assets/images/promos/pareja-thumb.jpg 770w", sizes="(min-width:770px) 100%, 100% ", alt="Plan pareja", title="plan pareja" )

								div.item-text
									div.promo-container
										p.promo-desc
											span.promo-tipo familia
											span.promo-cant 50%

										p.promo-condicion.
												3<sup>ra</sup> noche.

								div.clearfix

								a.btn.btn-default(href="#") Ver más
						///-Promo
			///-Promos Hotel
		
	///-hotel

	//hotel
	section#cc-villao.container-fluid.container-villao
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title ESTELAR Villavicencio Hotel &amp; Centro de Convenciones
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					-for(i=0;i < 8; i++)
						//Promo
						div.item
							div.item-container
								figure.item-img
									img(src='assets/images/promos/pareja-big.jpg', srcset="assets/images/promos/pareja-big.jpg 1000w, assets/images/promos/pareja-thumb.jpg 770w", sizes="(min-width:770px) 100%, 100% ", alt="Plan pareja", title="plan pareja" )

								div.item-text
									div.promo-container
										p.promo-desc
											span.promo-tipo familia
											span.promo-cant 50%

										p.promo-condicion.
												3<sup>ra</sup> noche.

								div.clearfix

								a.btn.btn-default(href="#") Ver más
						///-Promo
			///-Promos Hotel
		
	///-hotel

	//hotel
	section#altamira.container-fluid.container-altamira
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title Hotel ESTELAR Altamira
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					-for(i=0;i < 8; i++)
						//Promo
						div.item
							div.item-container
								figure.item-img
									img(src='assets/images/promos/pareja-big.jpg', srcset="assets/images/promos/pareja-big.jpg 1000w, assets/images/promos/pareja-thumb.jpg 770w", sizes="(min-width:770px) 100%, 100% ", alt="Plan pareja", title="plan pareja" )

								div.item-text
									div.promo-container
										p.promo-desc
											span.promo-tipo familia
											span.promo-cant 50%

										p.promo-condicion.
												3<sup>ra</sup> noche.

								div.clearfix

								a.btn.btn-default(href="#") Ver más
						///-Promo
			///-Promos Hotel
		
	///-hotel

	//hotel
	section#fontana.container-fluid.container-fontana
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title Hotel ESTELAR La Fontana
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					-for(i=0;i < 8; i++)
						//Promo
						div.item
							div.item-container
								figure.item-img
									img(src='assets/images/promos/pareja-big.jpg', srcset="assets/images/promos/pareja-big.jpg 1000w, assets/images/promos/pareja-thumb.jpg 770w", sizes="(min-width:770px) 100%, 100% ", alt="Plan pareja", title="plan pareja" )

								div.item-text
									div.promo-container
										p.promo-desc
											span.promo-tipo familia
											span.promo-cant 50%

										p.promo-condicion.
												3<sup>ra</sup> noche.

								div.clearfix

								a.btn.btn-default(href="#") Ver más
						///-Promo
			///-Promos Hotel
		
	///-hotel


	//hotel
	section#manzanillo.container-fluid.container-manzanillo
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title Estelar Grand Playa Manzanillo
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					-for(i=0;i < 8; i++)
						//Promo
						div.item
							div.item-container
								figure.item-img
									img(src='assets/images/promos/pareja-big.jpg', srcset="assets/images/promos/pareja-big.jpg 1000w, assets/images/promos/pareja-thumb.jpg 770w", sizes="(min-width:770px) 100%, 100% ", alt="Plan pareja", title="plan pareja" )

								div.item-text
									div.promo-container
										p.promo-desc
											span.promo-tipo familia
											span.promo-cant 50%

										p.promo-condicion.
												3<sup>ra</sup> noche.

								div.clearfix

								a.btn.btn-default(href="#") Ver más
						///-Promo
			///-Promos Hotel
		
	///-hotel

	//hotel
	section#cc-paipa.container-fluid.container-paipa
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title ESTELAR Paipa Hotel &amp; Centro de Convenciones
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					-for(i=0;i < 8; i++)
						//Promo
						div.item
							div.item-container
								figure.item-img
									img(src='assets/images/promos/pareja-big.jpg', srcset="assets/images/promos/pareja-big.jpg 1000w, assets/images/promos/pareja-thumb.jpg 770w", sizes="(min-width:770px) 100%, 100% ", alt="Plan pareja", title="plan pareja" )

								div.item-text
									div.promo-container
										p.promo-desc
											span.promo-tipo familia
											span.promo-cant 50%

										p.promo-condicion.
												3<sup>ra</sup> noche.

								div.clearfix

								a.btn.btn-default(href="#") Ver más
						///-Promo
			///-Promos Hotel
		
	///-hotel

	//hotel
	section#oceania.container-fluid.container-oceania
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title ESTELAR Oceanía
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					-for(i=0;i < 8; i++)
						//Promo
						div.item
							div.item-container
								figure.item-img
									img(src='assets/images/promos/pareja-big.jpg', srcset="assets/images/promos/pareja-big.jpg 1000w, assets/images/promos/pareja-thumb.jpg 770w", sizes="(min-width:770px) 100%, 100% ", alt="Plan pareja", title="plan pareja" )

								div.item-text
									div.promo-container
										p.promo-desc
											span.promo-tipo familia
											span.promo-cant 50%

										p.promo-condicion.
												3<sup>ra</sup> noche.

								div.clearfix

								a.btn.btn-default(href="#") Ver más
						///-Promo
			///-Promos Hotel
		
	///-hotel
	
	


	+modal('terminos')

		h4 Hoteles a los cuales aplica
		ul 
			li ESTELAR Cartagena de Indias
			li Hotel &amp; Centro de Convenciones
			li Hotel ESTELAR Playa Manzanillo
			li Hotel ESTELAR Oceania
			li Intercontinental Cali
			li Hotel ESTELAR Altamira
			li ESTELAR Villavicencio
			li Hotel &amp; Centro de Convenciones
			li ESTELAR Paipa Hotel &amp; Centro de Convenciones
			li Hotel ESTELAR La Fontana

		h4 Incluye:
		ul
			li Alojamiento.
			li Desayuno tipo buffete.

		h4 No incluye:
		p Otros consumos no especificados en el plan.

		h4 Vigencia:
		p Fechas de venta:
		p 28 de noviembre al 15 de Enero de 2018.

		h4 Fechas de alojamiento:
		p 1 de Diciembre al 31 de enero de 2018.


		p Para que el descuento aplique tu hijo mayor debe tener entre 1 (uno) y 15 ( quince) años de edad.	Sujeto a disponibilidad.

		p No aplica para convenios corporativos, ni grupos, ni facturas a nombres de empresas.

		p Valido únicamente para personas naturales.
		p No acumulable con otras promociones.

		p No aplica para reservas superiores a 9 (nueve) habitaciones.

		p No disponible desde el 29 de Diciembre hasta el 8 de Enero para Paipa, Santamar, Altamira, Manzanillo, Villavicencio, Cartagena de Indias, Oceanía.

		p Cupos limitados con un máximo de 5 cupos por noche.

		p No disponible desde el 25 al 31 de Diciembre en Intercontinental Cali.

		p Válido por un mínimo de 1 (una) noche de alojamiento entre semana y fines de semana, para 2 (dos) adultos y hasta 2 (dos) niños en habitación tipo estándar ó habitación de la preferencia del cliente.

		p Si tu hijo mayor tiene de 1 (uno) a 5 (cinco) años de edad el descuento que se aplicará será del 20%.

		p Si tu hijo mayor tiene de 6 (seis) a 10 (diez) años de edad el descuento que se aplicará será del 25%.

		p Si tu hijo mayor tiene de 11 (once) a 15 (quince) años de edad el descuento que se aplicará será del 35%.

		p El alojamiento es gratuito para niños menores de 12 (doce) años de edad.

		p Válido para reservas de alojamiento únicamente a través de nuestra página web www.hotelesestelar.com

		p Todas las reservas deberán estar garantizadas previo a la llegada de los pasajeros.

		p La no presentación en el hotel implicará la apropiación de la garantía.
		
