//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Haz que las vacaciones pasen | Hoteles Estelar

//-Etiqueta Metadescription
block description
	meta(name="description", content="Haz que las vacaciones pasen | Hoteles Estelar" )

//- img(src='assets/images/promos/pareja-big.jpg',
//- srcset="assets/images/promos/pareja-big.jpg 1000w, assets/images/promos/pareja-thumb.jpg 770w", sizes="(min-width:770px) 100%, 100% ")

//- img(src='images/slider/articulo-home.jpg', srcset="images/slider/articulo-home.jpg 1000w, images/slider/articulo-home-640.jpg 770w", sizes="(min-width:770px) 100%, 100% " )

block content

	//hotel
	section#cc-cartagena.container-fluid.container-cartagena
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title.
					ESTELAR Cartagena de Indias Hotel &amp; Centro de Convenciones
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					// -for(i=0;i < 8; i++)
					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-20-big.jpg" )
								+image('promos/familia-20-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 20%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=99499&rateplanid=2645908&discount=familia20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-25-big.jpg" )
								+image('promos/familia-25-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill


							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 25%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=99499&rateplanid=2645908&discount=familia25&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-35-big.jpg" )
								+image('promos/familia-35-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill


							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 35%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=99499&rateplanid=2645908&discount=familia25&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/pareja-big.jpg" )
								+image('promos/pareja-thumb.jpg', 'Plan Pareja')(class="img-show")
								div.placeholder-fill


							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo parejas
										span.promo-cant 50%

									p.promo-condicion.
											3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=99499&rateplanid=2646626&discount=pareja&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-10-big.jpg" )
								+image('promos/amigos-10-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill


							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 10%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=99499&rateplanid=2646411&discount=amigos10&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-20-big.jpg" )
								+image('promos/amigos-20-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill


							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 20%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=99499&rateplanid=2646411&discount=amigos20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-30-big.jpg" )
								+image('promos/amigos-30-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill


							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 30%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=99499&rateplanid=2646411&discount=amigos30&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-40-big.jpg" )
								+image('promos/amigos-40-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill


							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 40%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=99499&rateplanid=2646411&discount=amigos40&languageID=2", target="_blank") Reservar
					///-Promo



			///-Promos Hotel
		
	///-hotel
	

	//hotel
	section#inter-cali.container-fluid.container-cali
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title Intercontinental Cali
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-20-big.jpg" )
								+image('promos/familia-20-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 20%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75635&rateplanid=2646189&discount=familia20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-25-big.jpg" )
								+image('promos/familia-25-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 25%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75635&rateplanid=2646189&discount=familia25&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container

							figure.item-img.placeholder(data-xl="assets/images/promos/familia-35-big.jpg" )
								+image('promos/familia-35-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 35%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75635&rateplanid=2646189&discount=familia35&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
				
							figure.item-img.placeholder(data-xl="assets/images/promos/pareja-big.jpg" )
								+image('promos/pareja-thumb.jpg', 'Plan Pareja')(class="img-show")
								div.placeholder-fill



							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo parejas
										span.promo-cant 50%

									p.promo-condicion.
											3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75635&rateplanid=2646188&discount=pareja&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-10-big.jpg" )
								+image('promos/amigos-10-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 10%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75635&rateplanid=2646187&discount=amigos10&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container

							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-20-big.jpg" )
								+image('promos/amigos-20-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 20%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75635&rateplanid=2646187&discount=amigos20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
	

							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-30-big.jpg" )
								+image('promos/amigos-30-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 30%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75635&rateplanid=2646187&discount=amigos30&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
			
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-40-big.jpg" )
								+image('promos/amigos-40-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 40%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75635&rateplanid=2646187&discount=amigos40&languageID=2", target="_blank") Reservar
					///-Promo
				

			///-Promos Hotel
		
	///-hotel

	//hotel
	section#cc-villao.container-fluid.container-villao
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title ESTELAR Villavicencio Hotel &amp; Centro de Convenciones
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-20-big.jpg" )
								+image('promos/familia-20-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 20%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=96950&rateplanid=2646413&discount=familia20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-25-big.jpg" )
								+image('promos/familia-25-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 25%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=96950&rateplanid=2646413&discount=familia25&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-35-big.jpg" )
								+image('promos/familia-35-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 35%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=96950&rateplanid=2646413&discount=familia35&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/pareja-big.jpg" )
								+image('promos/pareja-thumb.jpg', 'Plan Pareja')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo parejas
										span.promo-cant 50%

									p.promo-condicion.
											3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=96950&rateplanid=2646282&discount=pareja&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-10-big.jpg" )
								+image('promos/amigos-10-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 10%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=96950&rateplanid=2645733&discount=amigos10&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-20-big.jpg" )
								+image('promos/amigos-20-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 20%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=96950&rateplanid=2645733&discount=amigos20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-30-big.jpg" )
								+image('promos/amigos-30-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 30%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=96950&rateplanid=2645733&discount=amigos30&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-40-big.jpg" )
								+image('promos/amigos-40-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 40%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=96950&rateplanid=2645733&discount=amigos40&languageID=2", target="_blank") Reservar
					///-Promo
			///-Promos Hotel
		
	///-hotel

	//hotel
	section#altamira.container-fluid.container-altamira
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title Hotel ESTELAR Altamira
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-20-big.jpg" )
								+image('promos/familia-20-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 20%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75642&rateplanid=2646402&discount=familia20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-25-big.jpg" )
								+image('promos/familia-25-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 25%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75642&rateplanid=2646402&discount=familia25&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-35-big.jpg" )
								+image('promos/familia-35-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 35%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75642&rateplanid=2646402&discount=familia35&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/pareja-big.jpg" )
								+image('promos/pareja-thumb.jpg', 'Plan Pareja')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo parejas
										span.promo-cant 50%

									p.promo-condicion.
											3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75642&rateplanid=2646117&discount=pareja&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-10-big.jpg" )
								+image('promos/amigos-10-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 10%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75642&rateplanid=2645740&discount=amigos10&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-20-big.jpg" )
								+image('promos/amigos-20-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 20%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75642&rateplanid=2645740&discount=amigos20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-30-big.jpg" )
								+image('promos/amigos-30-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 30%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75642&rateplanid=2645740&discount=amigos30&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-40-big.jpg" )
								+image('promos/amigos-40-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 40%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75642&rateplanid=2645740&discount=amigos40&languageID=2", target="_blank") Reservar
					///-Promo
			///-Promos Hotel
		
	///-hotel

	//hotel
	section#fontana.container-fluid.container-fontana
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title Hotel ESTELAR La Fontana
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-20-big.jpg" )
								+image('promos/familia-20-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 20%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75631&rateplanid=2645907&discount=familia20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-25-big.jpg" )
								+image('promos/familia-25-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 25%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75631&rateplanid=2645907&discount=familia25&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-35-big.jpg" )
								+image('promos/familia-35-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 35%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75631&rateplanid=2645907&discount=familia35&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/pareja-big.jpg" )
								+image('promos/pareja-thumb.jpg', 'Plan Pareja')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo parejas
										span.promo-cant 50%

									p.promo-condicion.
											3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75631&rateplanid=2646107&discount=pareja&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-10-big.jpg" )
								+image('promos/amigos-10-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 10%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75631&rateplanid=2646686&discount=amigos10&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-20-big.jpg" )
								+image('promos/amigos-20-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 20%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75631&rateplanid=2646686&discount=amigos20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-30-big.jpg" )
								+image('promos/amigos-30-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 30%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75631&rateplanid=2646686&discount=amigos30&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-40-big.jpg" )
								+image('promos/amigos-40-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 40%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75631&rateplanid=2646686&discount=amigos40&languageID=2", target="_blank") Reservar
					///-Promo
			///-Promos Hotel
		
	///-hotel


	//hotel
	section#manzanillo.container-fluid.container-manzanillo
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title Estelar Grand Playa Manzanillo
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-20-big.jpg" )
								+image('promos/familia-20-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 20%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=76284&rateplanid=2646131&discount=familia20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-25-big.jpg" )
								+image('promos/familia-25-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 25%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=76284&rateplanid=2646131&discount=familia25&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-35-big.jpg" )
								+image('promos/familia-35-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 35%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=76284&rateplanid=2646131&discount=familia35&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/pareja-big.jpg" )
								+image('promos/pareja-thumb.jpg', 'Plan Pareja')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo parejas
										span.promo-cant 50%

									p.promo-condicion.
											3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=76284&rateplanid=2646133&discount=pareja&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-10-big.jpg")
								+image('promos/amigos-10-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 10%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=76284&rateplanid=2646125&discount=amigos10&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-20-big.jpg" )
								+image('promos/amigos-20-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 20%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=76284&rateplanid=2646125&discount=amigos20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-30-big.jpg" )
								+image('promos/amigos-30-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 30%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=76284&rateplanid=2646125&discount=amigos30&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-40-big.jpg" )
								+image('promos/amigos-40-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 40%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=76284&rateplanid=2646125&discount=amigos40&languageID=2", target="_blank") Reservar
					///-Promo
			///-Promos Hotel
		
	///-hotel

	//hotel
	section#cc-paipa.container-fluid.container-paipa
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title ESTELAR Paipa Hotel &amp; Centro de Convenciones
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-20-big.jpg" )
								+image('promos/familia-20-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 20%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75651&rateplanid=2646515&discount=familia20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-25-big.jpg" )
								+image('promos/familia-25-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 25%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75651&rateplanid=2646515&discount=familia25&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-35-big.jpg" )
								+image('promos/familia-35-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 35%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75651&rateplanid=2646515&discount=familia35&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/pareja-big.jpg" )
								+image('promos/pareja-thumb.jpg', 'Plan Pareja')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo parejas
										span.promo-cant 50%

									p.promo-condicion.
											3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75651&rateplanid=2646527&discount=pareja&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-10-big.jpg" )
								+image('promos/amigos-10-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 10%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75651&rateplanid=2645718&discount=amigos10&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-20-big.jpg" )
								+image('promos/amigos-20-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 20%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75651&rateplanid=2645718&discount=amigos20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-30-big.jpg" )
								+image('promos/amigos-30-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 30%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75651&rateplanid=2645718&discount=amigos30&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-40-big.jpg" )
								+image('promos/amigos-40-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 40%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75651&rateplanid=2645718&discount=amigos40&languageID=2", target="_blank") Reservar
					///-Promo
			///-Promos Hotel
		
	///-hotel

	//hotel
	section#oceania.container-fluid.container-oceania
		article.row
			//Nombre hotel
			div.col-left
				h2.text-title Hotel ESTELAR Oceanía
			///-Nombre hotel

			//Promos Hotel
			div.col-right

				div.slider
					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-20-big.jpg" )
								+image('promos/familia-20-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 20%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75644&rateplanid=2646178&discount=familia20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-25-big.jpg" )
								+image('promos/familia-25-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 25%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75644&rateplanid=2646178&discount=familia25&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/familia-35-big.jpg" )
								+image('promos/familia-35-thumb.jpg', 'Plan Familia')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo familia
										span.promo-cant 35%

									//- p.promo-condicion.
									//- 		3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75644&rateplanid=2646178&discount=familia35&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/pareja-big.jpg" )
								+image('promos/pareja-thumb.jpg', 'Plan Pareja')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo parejas
										span.promo-cant 50%

									p.promo-condicion.
											3<sup>ra</sup> noche.

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75644&rateplanid=2646179&discount=pareja&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-10-big.jpg" )
								+image('promos/amigos-10-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 10%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75644&rateplanid=2646177&discount=amigos10&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-20-big.jpg" )
								+image('promos/amigos-20-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 20%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75644&rateplanid=2646177&discount=amigos20&languageID=2", target="_blank") Reservar
					///-Promo

					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-30-big.jpg" )
								+image('promos/amigos-30-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 30%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75644&rateplanid=2646177&discount=amigos30&languageID=2", target="_blank") Reservar
					///-Promo


					//Promo
					div.item
						div.item-container
							figure.item-img.placeholder(data-xl="assets/images/promos/amigos-40-big.jpg" )
								+image('promos/amigos-40-thumb.jpg', 'Plan Amigos')(class="img-show")
								div.placeholder-fill

							div.item-text
								div.promo-container
									p.promo-desc
										span.promo-tipo amigos
										span.promo-cant 40%

							div.clearfix

							a.btn.btn-default(href="https://reservations.ihotelier.com/istay.cfm?hotelid=75644&rateplanid=2646177&discount=amigos40&languageID=2", target="_blank") Reservar
					///-Promo
			///-Promos Hotel
		
	///-hotel
	
	


	+modal('terminos')
		h4 Hoteles a los cuales aplica
		ul
			li ESTELAR Cartagena de Indias
			li Hotel &amp; Centro de Convenciones
			li Hotel ESTELAR Playa Manzanillo
			li Hotel ESTELAR Oceania
			li Intercontinental Cali
			li Hotel ESTELAR Altamira
			li ESTELAR Villavicencio
			li Hotel &amp; Centro de Convenciones
			li ESTELAR Paipa Hotel &amp; Centro de Convenciones
			li Hotel ESTELAR La Fontana
		hr
		h4 Términos y Condiciones plan pareja
		h4 Incluye:
		ul
			li Alojamiento.
			li Desayuno tipo buffete.
		h4 No incluye:
		p Otros consumos no especificados en el plan.
		h4 Vigencia:
		p Fechas de venta:
		p 28 de noviembre al 15 de Enero de 2018.
		h4 Fechas de alojamiento:
		p 1 de Diciembre al 31 de enero de 2018.
		p Para que el descuento aplique tu hijo mayor debe tener entre 1 (uno) y 15 ( quince) años de edad.	Sujeto a disponibilidad.
		p  No aplica para convenios corporativos, ni grupos, ni facturas a nombres de empresas.
		p Valido únicamente para personas naturales.
		p No acumulable con otras promociones.
		p No aplica para reservas superiores a 9 (nueve) habitaciones.
		p  No disponible desde el 29 de Diciembre hasta el 8 de Enero para Paipa, Santamar, Altamira, Manzanillo, Villavicencio, Cartagena de Indias, Oceanía.
		p Cupos limitados con un máximo de 5 cupos por noche.
		p No disponible desde el 25 al 31 de Diciembre en Intercontinental Cali.
		p  Válido por un mínimo de 1 (una) noche de alojamiento entre semana y fines de semana, para 2 (dos) adultos y hasta 2 (dos) niños en habitación tipo estándar ó habitación de la preferencia del cliente.
		p Si tu hijo mayor tiene de 1 (uno) a 5 (cinco) años de edad el descuento que se aplicará será del 20%.
		p Si tu hijo mayor tiene de 6 (seis) a 10 (diez) años de edad el descuento que se aplicará será del 25%.
		p Si tu hijo mayor tiene de 11 (once) a 15 (quince) años de edad el descuento que se aplicará será del 35%.
		p El alojamiento es gratuito para niños menores de 12 (doce) años de edad.
		p.
			Válido para reservas de alojamiento únicamente a través de nuestra página web <a href="http://www.hotelesestelar.com" target="_blank">www.hotelesestelar.com</a>
		p Todas las reservas deberán estar garantizadas previo a la llegada de los pasajeros.
		p La no presentación en el hotel implicará la apropiación de la garantía.
		hr
		h4 Términos y Condiciones plan familia
		ul
			li Para que el descuento aplique tu hijo mayor debe tener entre 1 (uno) y 15 ( quince) años de edad.
			li Sujeto a disponibilidad.
			li No aplica para convenios corporativos, ni grupos, ni facturas a nombres de empresas.
			li Valido únicamente para personas naturales.
			li No acumulable con otras promociones.
			li No aplica para reservas superiores a 9 (nueve) habitaciones.
			li No disponible desde el 29 de Diciembre hasta el 8 de Enero para Paipa, Santamar, Altamira, Manzanillo, Villavicencio, Cartagena de Indias, Oceanía.
			li No disponible desde el 25 al 31 de Diciembre en Intercontinental Cali.
			li Cupos limitados con un máximo de 5 cupos por noche.
			li Válido por un mínimo de 1 (una) noche de alojamiento entre semana y fines de semana, para 2 (dos) adultos y hasta 2 (dos) niños en habitación tipo estándar ó habitación de la preferencia del cliente.
			li Si tu hijo mayor tiene de 1 (uno) a 5 (cinco) años de edad el descuento que se aplicará será del 20%.
			li Si tu hijo mayor tiene de 6 (seis) a 10 (diez) años de edad el descuento que se aplicará será del 25%.
			li Si tu hijo mayor tiene de 11 (once) a 15 (quince) años de edad el descuento que se aplicará será del 35%.
			li El alojamiento es gratuito para niños menores de 12 (doce) años de edad. 
			li.
				Válido para reservas de alojamiento únicamente a través de nuestra página web <a href="http://www.hotelesestelar.com" target="_blank">www.hotelesestelar.com</a>
			li Todas las reservas deberán estar garantizadas previo a la llegada de los pasajeros.
		li La no presentación en el hotel implicará la apropiación de la garantía.
		hr
		h4 Términos y Condiciones plan amigos

		ul
			li Sujeto a disponibilidad.
			li No aplica para convenios corporativos, ni grupos, ni facturas a nombres de empresas.
			li Valido únicamente para personas naturales.
			li No acumulable con otras promociones.
			li No aplica para reservas superiores a 9 (nueve) habitaciones.
			li No disponible desde el 29 de Diciembre hasta el 8 de Enero para Paipa, Santamar, Altamira, Manzanillo, Villavicencio, Cartagena de Indias, Oceanía.
			li No disponible desde el 25 al 31 de Diciembre en Intercontinental Cali.
			li Cupos limitados con un máximo de 5 cupos por noche.
			li Válido por un mínimo de 1 (una) noche de alojamiento entre semana y fines de semana.
			li Si tu grupo de amigos reserva 1 (una) habitación, tu descuento será del 10%.
			li Si tu grupo de amigos reserva 2 (dos) habitaciones, tu descuento será del 20%.
			li Si tu grupo de amigos reserva 3 (tres) habitaciones, tu descuento será del 30%.
			li Si tu grupo de amigos reserva 4 (cuatro) habitaciones, tu descuento será del 40%.
			li El alojamiento es gratuito para niños menores de 12 (doce) años de edad. 
			li
				| Válido para reservas de alojamiento únicamente a través de nuestra página web 
				a(href='http://www.hotelesestelar.com/', title='Hoteles Estelar') www.hotelesestelar.com

			li Todas las reservas deberán estar garantizadas previo a la llegada de los pasajeros.
			li La no presentación en el hotel implicará la apropiación de la garantía.

